@internal:registry=https://metascale-649601077399.d.codeartifact.us-east-2.amazonaws.com/npm/metascale-dependency-repository/
//metascale-649601077399.d.codeartifact.us-east-2.amazonaws.com/npm/metascale-dependency-repository/:_authToken=${CODEARTIFACT_AUTH_TOKEN}
//metascale-649601077399.d.codeartifact.us-east-2.amazonaws.com/npm/metascale-dependency-repository/:always-auth=true
registry=https://registry.npmjs.org/
